---
title: Eco Rewards - MP TRavel
description: Earn reward points for making greener travel choices
layout: default
mpTravel: true
---

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="card shadow-sm mt-3 text-left col-sm-8">
        <div class="card-body">
          <div class="post-image" style="background: url(/assets/image/mp-travel-logo.jpg) center no-repeat; background-size: 500px; height: 150px"></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <p class="mt-5">
          Join the Eco Rewards trial for travelling regularly with MP Travel by registering your smart card. Everytime you use your MP Travel smart card, we will add green miles and carbon savings to your account.
        </p>
        <p>
          We plan to introduce competitions and you can immediately access discount and cash-back benefits from 1000s of online retailers. You can also report walking, cycling and other green journeys.
        </p>
        <p>
          See how MP Travel customer green miles build up with your contribution.
        </p>
        <p>
          Logon to your Eco Rewards account to see your green miles and carbon savings compared to driving by car. <a href="/">www.ecorewards.org.uk</a>.
        </p>
        <h2 id="register" class="heading heading--md heading--color-1">Registration</h2>
        <div class="row justify-content-md-center m-0 p-0">
          <div class="card shadow-sm m-3 col-sm-8 post-image" style="background: url(/assets/image/mp-travel-card.jpg) center no-repeat; background-size: 485px; height: 315px"></div>
        </div>
        <div class="row form-group">
          <label for="cardNumber" class="col-sm-4 text-right col-form-label">Card number</label>
          <div class="input-group col-sm-6 pl-0">
            <div class="input-group-prepend">
              <span class="input-group-text">015701</span>
            </div>
            <input type="text"
                   class="form-control col-sm-6"
                   id="cardNumber"
                   name="cardNumber"
                   pattern="^[0-9]*$"
                   minLength="10"
                   maxLength="10"
                   placeholder="e.g. 4111710737"
                   required
            />
          </div>
        </div>

        <button id="submit" type="button" class="btn btn-primary" disabled>Continue</button>

      </div>
      <div class="col-md-8">
        <h2 class="heading heading--md heading--color-1 mt-5">Links</h2>
        <p>
          <a class="btn-primary btn" style="color: white;" href="/mp-travel/selfreport">Self Reporting</a>
          <a class="btn-primary btn" style="color: white;" href="https://www.ecorewards.org.uk/">Eco Rewards Website</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% include modal.html %}
{% include footer.html %}
<script type="application/javascript">

  window.addEventListener('DOMContentLoaded', () => {
    $("#cardNumber").on("keyup", () => {
      $("#submit").attr("disabled", $("#cardNumber").val().length !== 10);
    });

    $("#submit").on("click", () => {
      const data = {
        smartcard: "015701" + $("#cardNumber").val(),
        group: "/group/121",
        defaultTransportMode: "bus",
        defaultDistance: 5.1
      };

      $.ajax({
        url: "https://api.ecorewards.co.uk/member",
        type: "POST",
        data: data,
        success: response => {
          window.location = "https://www.ecorewards.org.uk/secure/register.php?memberId=" + response.data.id.substr(response.data.id.lastIndexOf("/") + 1);
        },
        error: () => {
          alert('Invalid member ID');
        }
      });
    });

  });

</script>
