---
title: Eco Rewards - Rewarding Green Travel Choices
description: Earn reward points for making greener travel choices
layout: default
anchorLinks: true
---

{% include bracknell-jumbotron.html %}

<section class="pt-5 pb-0 bg-light">
  <div class="container">
    <div class="row justify-content-md-center">
      <p class="mb-0">If you have an e+ card or collected a smart tag <a class="btn btn-primary btn-register" href="https://www.ecorewards.org.uk">Register now</a></p>
    </div>
  </div>
</section>

{% include news.html %}

{% include bracknell-motivation.html %}

{% include objectives.html %}

{% include benefits.html %}

<section id="how" class="pt-5 pb-5 bg-light">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8 text-center">
        <h2 class="heading heading--md heading--color-1 heading--reverse-clip mb-5">How does it work?</h2>
        <iframe class="youtube" src="https://www.youtube.com/embed/6xY-866a9ZU" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

        <p class="my-3">
          Participants in the scheme register online and record their journey choices by
          tapping their smart tags, rail smartcard or existing Bracknell e+ cards on the Eco
          Rewards blue readers. The readers will send the data back over the Smart Berkshire
          private Internet of Things network.
        </p>
        <p>
          You can collect an Eco Rewards smart tag from local retailers and participating
          organisations.
        </p>
        <div class="text-center"><h4>Or</h4></div>
        <p class="my-3">
          Participants can also be able to report their green journeys via an <a href="{{ site.baseurl }}/selfreport">online form</a>. We will calculate your CO2 savings and green miles. Over time,
          participants will see their carbon savings grow, both as an individual and as a
          member of the community.
        </p>
        <p>
          You will be entered into prize draws and are eligible to access retailer discounts and
          cashback. You can see your points, savings and access to benefits by completing
          logging on to your account. <br/>Visit <a href="https://www.ecorewards.org.uk">www.ecorewards.org.uk</a>.
        </p>
      </div>
    </div>
  </div>
</section>

{% include participate.html %}

<section id="start" class="pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="text-center">
          <h2 class="heading heading--md heading--color-1 mb-5">Get started</h2>
        </div>
        <p>
          Just collect a smart tag or use your e+ card or rail smartcard.
          Start tapping your card on the blue readers and <b><a href="https://www.ecorewards.org.uk/secure/register.php">register your card</a></b> with your green travel mode and usual return journey distance.
        </p>
        <img class="rounded" src="{{ site.baseurl }}/assets/image/tags.jpg" width="100%" />
      </div>
    </div>
  </div>
</section>

{% include bracknell-proud.html %}
