---
title: Eco Rewards - Rewarding Green Travel Choices
description: Earn reward points for making greener travel choices
layout: default
---

{% include jumbotron.html %}

<div class="album py-5 bg-light">

  <div class="container">
    <section id="motivation">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="heading heading--md heading--color-2 heading--reverse-clip">How do Eco Rewards motivate people?</h2>
        </div>
        <div class="col-md-6">
          <h3 class="d-block">Reporting</h3>
          <img class="img-responsive float-left" alt="A report showing graphs" src="/assets/image/reporting.svg" />
          <p className="pull-left">Walking, cycling and green travel can be reported through smart tags, smartcards or online reporting using existing fitness apps.</p>
        </div>

        <div class="col-md-6">
          <h3 class="d-block">Rewards</h3>
          <img class="img-responsive float-left" alt="A present with a bow" src="/assets/image/rewards.svg" />
          <p className="pull-left">The rewards, discounts and cash-back are funded by 1000’s of well-known online retailers.</p>
        </div>

        <div class="col-md-6">
          <h3 class="d-block">Engagement</h3>
          <img class="img-responsive float-left" alt="A podium showing the winner with their hands in the air" src="/assets/image/engagement.svg" />
          <p>League tables, prize draws, medals and carbon savings calculator keep motivation high.</p>
        </div>

        <div class="col-md-6">
          <h3 class="d-block">Data</h3>
          <img class="img-responsive float-left" alt="A person pointing at a graph on a board" src="/assets/image/data.svg" />
          <p>Useful anonymous data analytics gathered through surveys, data reporting and carbon saving calculations.</p>
        </div>
      </div>
    </section>

    <section id="objectives">
      <div class="row justify-content-md-center">
        <div class="col-md-12 text-center">
          <h2 class="heading heading--md heading--color-3">Objectives</h2>
        </div>
        <div class="col-md-3">
          img
        </div>
        <div class="col-md-9">
          <p>Reduce the number of car journeys.</p>
        </div>

        <div class="col-md-9">
          <p>Reduce local congestion</p>
        </div>
        <div class="col-md-3">
          img
        </div>

        <div class="col-md-3">
          img
        </div>
        <div class="col-md-9">
          <p>Reduce pollution</p>
        </div>

        <div class="col-md-9">
          <p>Reduce carbon released</p>
        </div>
        <div class="col-md-3">
          img
        </div>

        <div class="col-md-3">
          img
        </div>
        <div class="col-md-9">
          <p>Improve local environment</p>
        </div>
      </div>
    </section>
  
    <section id="how" class="row justify-content-md-center">
      <div class="col-md-8 text-center">
        <h2 class="heading heading--md heading--color-1 heading--reverse-clip">How does it work?</h2>
        <iframe class="youtube" src="https://www.youtube.com/embed/6xY-866a9ZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
          Once you have a pre-registered smartcard, tap on an Eco Rewards
          reader as you travel to and from work, school or college. We will calculate
          your points, CO<sub>2</sub> savings and green miles. Participants will also be able to report their green journeys via an online form (coming
          soon).
        </p>
        <p>You can see your points, savings
          and access to benefits by completing your registration and logging on to your
          account. If you are joining through a school, community or business we will be
          running prize draws and calculating your group savings.
        </p>
        <p>To see your savings and access benefits, visit <a href="https://www.ecorewards.org.uk">www.ecorewards.org.uk</a></p>
      </div>
    </section>

    <section id="start" class="row justify-content-md-center text-center">
      <div class="col-md-8">
        <h2 class="heading heading--md heading--color-1">Get started</h2>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="bracknell-logo card-image">Bracknell council logo</div>
            <div class="card-body">
              <p class="card-text">
                For Eco Rewards in Bracknell and through schools, see the details of the council backed scheme.
              </p>
              <p class="m-0">
                <a href="/bracknell">Bracknell</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="bracknell-station card-image">Bracknell station</div>
            <div class="card-body">
              <p class="card-text">
                For our commuter trial at Bracknell station, you can use you rail smartcard. Just start tapping your card on the blue reader each day and register your card to join and see your carbon savings.
              </p>
              <p class="m-0">
                <a href="https://www.ecorewards.org.uk/secure/register.php">Register your account</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <p>If you represent an organisation or are based in another area, please <a href="/contact">contact us</a> for more information.</p>
      </div>
    </section>
  </div>
</div>

<section id="about">
  {% include mini-jumbotron.html %}

  <div class="album py-5 bg-light">
    <div class="container vertical-fill">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <p>Eco Rewards offers rewards and incentives for schools, businesses and
            communities to encourage residents and students to choose greener travel
            options and reduce their carbon footprint.</p>
          <p>To see your savings and access benefits, visit <a
              href="https://www.ecorewards.org.uk">www.ecorewards.org.uk</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
