---
title: Eco Rewards - Rewarding Green Travel Choices
description: Earn reward points for making greener travel choices
layout: default
anchorLinks: true
---

{% include jumbotron.html %}

<section id="how" class="pt-5 pb-0 bg-light">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8 text-center">
        <h2 class="heading heading--md heading--color-1 mb-5">How does it work?</h2>
        <iframe class="youtube" src="https://www.youtube.com/embed/6xY-866a9ZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
          Once you have a pre-registered smart tag or smartcard, tap on an Eco Rewards
          reader as you travel to and from work, school or college. We will calculate
          your points, CO<sub>2</sub> savings and green miles. Participants will also be able to report their green journeys via an online form (coming
          soon).
        </p>
        <p>You can see your points, savings
          and access to benefits by completing your registration and logging on to your
          account. If you are joining through a school, community or business we will be
          running prize draws and calculating your group savings.
        </p>
        <p class="mb-0"><a class="btn btn-primary btn-register" href="https://www.ecorewards.org.uk">Register now</a></p>
      </div>
    </div>
  </div>
</section>

{% include news.html %}

{% include motivation.html %}

{% include objectives.html %}

{% include benefits.html %}

{% include participate.html %}

<section id="start" class="pt-5 pb-5 bg-light">
  <div class="container">
    <div class="row justify-content-md-center text-center">
      <div class="col-12">
        <h2 class="heading heading--md heading--color-1">Get started</h2>

        <div class="row justify-content-md-center">
          <div class="col-md-6 col-lg-4">
            <div class="card mb-4 shadow-sm">
              <div class="bracknell-logo card-image">Bracknell council logo</div>
              <div class="card-body">
                <p class="card-text">
                  For Eco Rewards in Bracknell and through schools, see the details of the council backed scheme.
                </p>
                <p class="m-0">
                  <a href="{{ site.baseurl }}/bracknell">Bracknell</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card mb-4 shadow-sm">
              <div class="bracknell-station card-image">Bracknell station</div>
              <div class="card-body">
                <p class="card-text">
                  For our commuter trial at Bracknell station, you can use you rail smartcard. Just start tapping your card on the blue reader each day and register your card to join and see your carbon savings.
                </p>
                <p class="m-0">
                  <a href="https://www.ecorewards.org.uk/secure/register.php">Register your account</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include proud.html %}
