<section id="benefits" class="benefits pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="heading heading--md heading--color-1 heading--reverse-clip mb-5">Benefits</h2>
      </div>
      <div class="col-md-6 mb-4 mt-4 d-lg-flex">
        <img class="img-responsive float-lg-left benefits__img" alt="Health symbol" src="{{ site.baseurl }}/assets/image/health.svg" />
        <p class="text-center text-lg-left benefits__text d-lg-flex align-items-lg-center">Health benefits from regularly walking and cycling</p>
      </div>

      <div class="col-md-6 mb-4 mt-4 d-lg-flex">
        <img class="img-responsive float-lg-left benefits__img" alt="A lorry travelling fast" src="{{ site.baseurl }}/assets/image/faster.svg" />
        <p class="text-center text-lg-left benefits__text d-lg-flex align-items-lg-center">Faster and safer journeys on roads</p>
      </div>

      <div class="col-md-6 mb-4 mt-4 d-lg-flex">
        <img class="img-responsive float-lg-left benefits__img" alt="A happy face" src="{{ site.baseurl }}/assets/image/happy.svg" />
        <p class="text-center text-lg-left benefits__text d-lg-flex align-items-lg-center">Less stressful journeys</p>
      </div>

      <div class="col-md-6 mb-4 mt-4 d-lg-flex">
        <img class="img-responsive float-lg-left benefits__img" alt="Earth being cradled in 2 hands" src="{{ site.baseurl }}/assets/image/environment.svg" />
        <p class="text-center text-lg-left benefits__text d-lg-flex align-items-lg-center">Make a difference to the environment</p>
      </div>
    </div>
  </div>
</section>