<section id="benefits" class="benefits pt-5 pb-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="heading heading--md heading--color-1 mb-5">Benefits</h2>
      </div>
      <div class="col-md-6 mb-4">
        <img class="img-responsive float-lg-left benefits__img" alt="Health symbol" src="/assets/image/health.svg" />
        <p class="text-center text-lg-left benefits__text">Health benefits from regularly walking and cycling</p>
      </div>

      <div class="col-md-6 mb-4">
        <img class="img-responsive float-lg-left benefits__img" alt="A lorry travelling fast" src="/assets/image/faster.svg" />
        <p class="text-center text-lg-left benefits__text">Faster and safer journeys on roads</p>
      </div>

      <div class="col-md-6 mb-4">
        <img class="img-responsive float-lg-left benefits__img" alt="A happy face" src="/assets/image/happy.svg" />
        <p class="text-center text-lg-left benefits__text">Less stressful journeys</p>
      </div>

      <div class="col-md-6 mb-4">
        <img class="img-responsive float-lg-left benefits__img" alt="Earth being cradled in 2 hands" src="/assets/image/environment.svg" />
        <p class="text-center text-lg-left benefits__text">Make a difference to the environment</p>
      </div>
    </div>
  </div>
</section>