<section id="proud" class="bg-light pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="text-center">
          <h2 class="heading heading--md heading--color-1 mb-5">Proudly supported by</h2>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4 mb-4">
            <div class="img-container border rounded">
              <img class="img-responsive m-auto" alt="Lexicon logo" src="{{ site.baseurl }}/assets/image/lexicon-logo.jpg" />
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="img-container border rounded">
              <a target="_blank" href="https://www.facebook.com/basbooksbracknell/"><img class="img-responsive m-auto" alt="Bas Books" src="{{ site.baseurl }}/assets/image/bas-logo.jpg" /></a>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="img-container border rounded">
              <img class="img-responsive m-auto" alt="Berkshire Cycles Logo" src="{{ site.baseurl }}/assets/image/BerkshireCyclesLogo.jpg" />
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="img-container border rounded">
              <img class="img-responsive m-auto" alt="Coral Reef" src="{{ site.baseurl }}/assets/image/coral-reef-logo.jpg" />
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="img-container border rounded">
              <img class="img-responsive m-auto" alt="crowthorne" src="{{ site.baseurl }}/assets/image/crowthorne-logo.jpg" />
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="img-container border rounded">
              <img class="img-responsive m-auto" alt="Thames Valley Smart City logo" src="{{ site.baseurl }}/assets/image/smart-city-logo.jpg" />
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="img-container border rounded">
              <a target="_blank" href="http://www.venturecycling.co.uk"><img class="img-responsive m-auto" alt="Londis logo" src="{{ site.baseurl }}/assets/image/venture-cycling-logo.png" /></a>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="img-container border rounded">
              <img class="img-responsive m-auto" alt="BF Health" src="{{ site.baseurl }}/assets/image/bf-health-logo.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
