<section class="jumbotron text-center">
    <div class="container">
        <h1>Rewarding Green Travel Choices</h1>
        <p class="lead">Eco Rewards offers rewards and incentives for schools,
            businesses and communities in Bracknell Forest to
            encourage residents and students to choose greener
            travel and healthy lifestyle options.
            <br/><br/>
            Employers in the Business Improvement District (BID) can invite
            their staff and customers to join and reduce their carbon footprint.
            Collectively participants could save on fuel costs and reduce their
            CO<sub>2</sub> emissions by 1000s tonnes.</p>

        <div class="modes row justify-content-md-center">
            <div class="col-md-1 mode-1">bicycle</div>
            <div class="col-md-1 mode-2">walk</div>
            <div class="col-md-1 mode-3">car share</div>
            <div class="col-md-1 mode-4">bus</div>
            <div class="col-md-1 mode-5">train</div>
            <div class="col-md-1 mode-6">work from home</div>
            <div class="col-md-1 mode-7">park and ride</div>
        </div>
    </div>
</section>
