
<footer class="text-muted">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <a href="https://www.facebook.com/EcoRewards/">Facebook</a> |
        <a href="https://www.instagram.com/ecorewards/">Instagram</a> |
        <a href="https://bsky.app/profile/ecorewards.bsky.social">BlueSky</a>
      </div>
      <div class="col-md-3 text-right">
        <a class="js-nav-link" href="#top">Back to top</a>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <p class="text-muted">Disclaimer: Eco Rewards members and site visitors are reminded that there is risk of injury with all travel. At all times, you are responsible for your own and your family’s safety and travel choices including mode and route. Take care, maintain social distance as required and stay safe.</p>
      </div>
    </div>
  </div>
</footer>
