<header id="top">
  <div class="navbar navbar-light shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="{{ site.baseurl }}/" class="navbar-brand d-flex align-items-center">
        <img width="240px" alt="eco rewards logo" src="{{ site.baseurl }}/assets/image/eco-rewards-logo3.png" />
        <span class="sr-only">Home</span>
        {% if page.headerImage %}
          <img height="80px" alt="eco rewards logo" src="{{ page.headerImage }}" />
        {% endif %}
      </a>
      {% if page.bracknell %}
        {% include bracknell-nav.html %}
      {% else %}
        {% include nav.html %}
      {% endif %}
    </div>
  </div>
</header>
