<header>
  <div class="navbar navbar-light shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <img width="240px" src="/assets/image/eco-rewards-logo.png" />
      </a>

      {% if page.navigation == false %}
        <h2 class="invert-header m-0">Bracknell Forest Scheme</h2>
      {% else %}
        <p>
          <a href="/">Home</a> |
          <a href="/about">About</a> |
          <a href="/contact">Contact</a>
        </p>
      {% endif %}
    </div>
  </div>
</header>