<section id="motivation" class="motivation pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="heading heading--md heading--color-2 heading--reverse-clip mb-5">How do Eco Rewards motivate people?</h2>
      </div>
      <div class="col-md-6">
        <h3 class="text-center text-lg-left d-block motivation__title">Reporting</h3>
        <img class="img-responsive float-left-md motivation__img" alt="A report showing graphs" src="/assets/image/reporting.svg" />
        <p class="text-center text-lg-left motivation__text">Walking, cycling and green travel can be reported through smart tags, smartcards or online reporting using existing fitness apps.</p>
      </div>

      <div class="col-md-6">
        <h3 class="text-center text-lg-left d-block motivation__title">Rewards</h3>
        <img class="img-responsive float-left-md motivation__img" alt="A present with a bow" src="/assets/image/rewards.svg" />
        <p class="text-center text-lg-left motivation__text">The rewards, discounts and cash-back are funded by 1000’s of well-known online retailers.</p>
      </div>

      <div class="col-md-6">
        <h3 class="text-center text-lg-left d-block motivation__title">Engagement</h3>
        <img class="img-responsive float-left-md motivation__img" alt="A podium showing the winner with their hands in the air" src="/assets/image/engagement.svg" />
        <p class="text-center text-lg-left motivation__text">League tables, prize draws, medals and carbon savings calculator keep motivation high.</p>
      </div>

      <div class="col-md-6">
        <h3 class="text-center text-lg-left d-block motivation__title">Data</h3>
        <img class="img-responsive float-left-md motivation__img" alt="A person pointing at a graph on a board" src="/assets/image/data.svg" />
        <p class="text-center text-lg-left motivation__text">Useful anonymous data analytics gathered through surveys, data reporting and carbon saving calculations.</p>
      </div>
    </div>
  </div>
</section>