<nav class="nav">
    <button class="js-nav-toggle nav__toggle" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
        <span class="nav__toggle-box">
            <span class="nav__toggle-inner"></span>
        </span>
    </button>

    <ul class="js-nav list-unstyled nav__list">
        <li class="nav__item">
            <a class="nav__link" href="{{ site.baseurl }}/mp-travel">Home</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="{{ site.baseurl }}/about">About us</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="{{ site.baseurl }}/contact">Contact</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="/mp-travel/#register">Register</a>
        </li>
    </ul>
</nav>
