<nav class="nav">
    <button class="js-nav-toggle nav__toggle" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
        <span class="nav__toggle-box">
            <span class="nav__toggle-inner"></span>
        </span>
    </button>

    <ul class="js-nav list-unstyled nav__list">
        <li class="nav__item">
            <a class="js-nav-link nav__link" href="#how">How does it work?</a>
        </li>
        <li class="nav__item">
            <a class="js-nav-link nav__link" href="#start">Get started</a>
        </li>
        <li class="nav__item">
            <a class="js-nav-link nav__link" href="#about">About us</a>
        </li>
        <li class="nav__item">
            <a class="js-nav-link nav__link" href="#news">Latest News</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="/contact">Contact</a>
        </li>
    </ul>
</nav>