<section id="news" class="pb-5 bg-light">
  <div class="container">
    <div class="row justify-content-md-center text-center">
      <div class="col-md-8">
        <h2 class="heading heading--md heading--color-1 mb-5">Latest News & Updates</h2>

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v21.0"></script>
        <div class="col-md-12">
          <div class="fb-page" data-href="https://www.facebook.com/ecorewards" data-tabs="timeline" data-width="500" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ecorewards" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ecorewards">EcoRewards</a></blockquote></div>
        </div>

      </div>
    </div>
    <div class="mt-5 row justify-content-md-center text-center">
      <div class="col-md-8">
        <h2 class="heading heading--md heading--color-1">Enquire about joining Eco Rewards</h2>
        <p class="text-center">If you represent an organisation or are based in another area, please <a href="/contact">contact us</a> for more information.</p>
      </div>
    </div>
  </div>
</section>
