<section id="news" class="pb-5 bg-light">
  <div class="container">
    <div class="row justify-content-md-center text-center">
      <div class="col-md-8">
        <h2 class="heading heading--md heading--color-1 mb-5">Latest News & Updates</h2>

        <script type="module" src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js" async></script>
        <bsky-embed
                username="ecorewards.bsky.social"
                mode="light"
                limit="5">
        </bsky-embed>

      </div>
    </div>
    <div class="mt-5 row justify-content-md-center text-center">
      <div class="col-md-8">
        <h2 class="heading heading--md heading--color-1">Enquire about joining Eco Rewards</h2>
        <p class="text-center">If you represent an organisation or are based in another area, please <a href="/contact">contact us</a> for more information.</p>
      </div>
    </div>
  </div>
</section>
