<section id="benefits" class="benefits pt-5 pb-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="heading heading--md heading--color-3 mb-5">Objectives</h2>
      </div>
      <div class="col-md-6 mb-4">
        <img class="img-responsive float-lg-left benefits__img" alt="Car with a clock next to it" src="{{ site.baseurl }}/assets/image/reduce-journeys.svg" />
        <p class="text-center text-lg-left benefits__text">Reduce the number of car journeys</p>
      </div>

      <div class="col-md-6 mb-4">
        <img class="img-responsive float-lg-left benefits__img" alt="A queue of cars" src="{{ site.baseurl }}/assets/image/reduce-congestion.svg" />
        <p class="text-center text-lg-left benefits__text">Reduce local congestion</p>
      </div>

      <div class="col-md-6 mb-4">
        <img class="img-responsive float-lg-left benefits__img" alt="A car with exhaust fumes coming from the rear" src="{{ site.baseurl }}/assets/image/pollution.svg" />
        <p class="text-center text-lg-left benefits__text">Reduce pollution</p>
      </div>

      <div class="col-md-6 mb-4">
        <img class="img-responsive float-lg-left benefits__img" alt="A cloud with CO2 written on it" src="{{ site.baseurl }}/assets/image/co2.svg" />
        <p class="text-center text-lg-left benefits__text">Reduce carbon released</p>
      </div>

      <div class="col-md-6 mb-4">
        <img class="img-responsive float-lg-left benefits__img" alt="A hand holding a plant" src="{{ site.baseurl }}/assets/image/improve-environment.svg" />
        <p class="text-center text-lg-left benefits__text">Improve local environment</p>
      </div>
    </div>
  </div>
</section>