<section id="participate" class="participate pt-5 pb-5 bg-color-4">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="color-white mb-5">How to participate in three steps</h2>
      </div>
      <div class="col-md-4 mb-4">
        <p class="participate__step">1</p>
        <img class="img-responsive participate__img" alt="A mobile with a world map on it" src="{{ site.baseurl }}/assets/image/register-mobile.png" />
        <p class="text-center participate__text participate__arrow">Download our app &amp; register to active (select your organisation &amp; group)</p>
      </div>

      <div class="col-md-4 mb-4">
        <p class="participate__step">2</p>
        <img class="img-responsive participate__img" alt="A bicycle" src="{{ site.baseurl }}/assets/image/green-travel.png" />
        <p class="text-center participate__text participate__arrow">Use green or active travel &amp; Scan QR codes from the app on your smartphone to report every active journey or self-report</p>
      </div>

      <div class="col-md-4 mb-4">
        <p class="participate__step">3</p>
        <img class="img-responsive participate__img" alt="A present with a bow" src="{{ site.baseurl }}/assets/image/discounts.png" />
        <p class="text-center participate__text">View journeys & points. Gain special discounts, prizes or cash-back rewards</p>
      </div>
    </div>
  </div>
</section>
