<section id="proud" class="bg-light pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="text-center">
          <h2 class="heading heading--md heading--color-1 mb-5">Proudly supported by</h2>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4 mb-4">
            <img class="border rounded img-responsive m-auto" alt="Bracknell Forest Council logo" src="{{ site.baseurl }}/assets/image/bracknell-logo2.jpg" />
          </div>
          <div class="col-md-4 mb-4">
            <img class="border rounded img-responsive m-auto" alt="Thames Valley Smart City logo" src="{{ site.baseurl }}/assets/image/smart-city-logo.jpg" />
          </div>
          <div class="col-md-4 mb-4">
            <img class="border rounded img-responsive m-auto" alt="Lexicon logo" src="{{ site.baseurl }}/assets/image/lexicon-logo.jpg" />
          </div>
          <div class="col-md-4 mb-4">
            <img class="border rounded img-responsive m-auto" alt="Smartran logo" src="{{ site.baseurl }}/assets/image/smartran-logo.jpg" />
          </div>
          <div class="col-md-4 mb-4">
            <img class="border rounded img-responsive m-auto" alt="GIS logo" src="{{ site.baseurl }}/assets/image/gis-logo.jpg" />
          </div>
          <div class="col-md-4 mb-4">
            <img class="border rounded img-responsive m-auto" alt="Maastran logo" src="{{ site.baseurl }}/assets/image/maastran-logo.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>