
.jumbotron {
  padding-top: 3rem;
  margin-bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.45) 0%,rgba(255,255,255,0.45) 100%), url("../image/jumbotron-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-black;
  border-radius: 0;

  @media ($screen-tablet) {
    padding-bottom: 3rem;
    max-height: 575px;
  }
}


@media (min-width: 768px) {
  .jumbotron {
    padding-top: 4rem;
    padding-bottom: 0;
  }

  .mini {
    padding-bottom: 1rem;
  }
}

.jumbotron p {
  color: $color-white;
  line-height: 2.1rem;
  background: url("../image/bg-dark.png") repeat;
  padding: 40px 25px 60px 25px;
  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 94%);
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron .container {
  max-width: 50rem;
}

.modes {
  display: none;
  position: relative;
  top: -80px;

  @media ($screen-tablet) {
    display: flex;
  }

  @media ($screen-laptop) {
    padding-right: 60px;
  }

  div {
    width: 52px;
    height: 52px;
    flex: 0 0 52px;
    color: transparent;
    padding: 0;
    margin: 10px;
  }

  .mode-1 { background: url("../image/mode-1.png"); background-size: cover; }
  .mode-2 { background: url("../image/mode-2.png"); background-size: cover; }
  .mode-3 { background: url("../image/mode-3.png"); background-size: cover; }
  .mode-4 { background: url("../image/mode-4.png"); background-size: cover; }
  .mode-5 { background: url("../image/mode-5.png"); background-size: cover; }
  .mode-6 { background: url("../image/mode-6.png"); background-size: cover; }
  .mode-7 { background: url("../image/mode-7.png"); background-size: cover; }
}