.motivation {
    &__title {
        padding-left: 0;
        padding-right: 0;
    }

    &__img {
        margin: 0 auto 20px;

        @media ($screen-laptop) {
            margin: 0 20px 20px 0;
        }
    }

    &__text {
        @media ($screen-laptop) {
            margin-top: -8px;
        }
    }
}