---
title: Eco Rewards - Rewarding Green Travel Choices
description: Earn reward points for making greener travel choices
layout: default
bracknell: true
---

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="row">
          <div class="col text-center">
            <h2 class="heading heading--md heading--color-1 mt-5">Bracknell Active</h2>
            <p>Welcome to the home page for Bracknell Residents and Bracknell Health members.</p>
            <p id="mobileApp">To join the scheme download <a class="btn-primary btn" href="/mobile-app"><b>Our Mobile APP</b></a></p>
            <p><a class="btn-primary btn" href="/bracknell">Bracknell Scheme</a> For Bracknell Schools league tables and registration go to <a class="btn-primary btn" href="/bracknell/schools">SCHOOLS</a></p>
            <p>Discover our <a class="btn-primary btn" href="#offers">local offers and Access Rewards (discounts and cash-back benefits)</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-8">

        <div class="row">
          <div class="col text-center">

            <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="parish_chartToggle" value="#parish_rewardChart" autocomplete="off" checked> Points
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="parish_chartToggle" value="#parish_carbonSavingChart" autocomplete="off"> Carbon Saving
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="parish_chartToggle" value="#parish_milesChart" autocomplete="off"> Green Miles
              </label>
            </div>
          </div>
        </div>

        <div class="chart-container" style="position: relative; height:500px;">
          <canvas id="parish_rewardChart"></canvas>
          <canvas style="display: none" id="parish_carbonSavingChart"></canvas>
          <canvas style="display: none" id="parish_milesChart"></canvas>
        </div>
        <p class="tableStartDate">Totals since 1st June 2021</p>
        <div class="row mb-5">
          <div class="col text-center">
            <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="chartToggle" value="#rewardChart" autocomplete="off" checked> Points
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="chartToggle" value="#carbonSavingChart" autocomplete="off"> Carbon Saving
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="chartToggle" value="#milesChart" autocomplete="off"> Green Miles
              </label>
            </div>
          </div>
        </div>

        <div class="chart-container" style="position: relative; height:500px;">
          <canvas id="rewardChart"></canvas>
          <canvas style="display: none" id="carbonSavingChart"></canvas>
          <canvas style="display: none" id="milesChart"></canvas>
        </div>
        <div class="row mt-5">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Participants</th>
              <th class="text-right">Points</th>
              <th class="text-right">Carbon Saving</th>
              <th class="text-right">Green Miles</th>
            </tr>
            </thead>
            <tbody id="dataTable">

            </tbody>
          </table>
          <p class="tableStartDate">Totals since 1st June 2021</p>
        </div>

        <h2 id="register" class="heading heading--md heading--color-1 mt-5">Registration</h2>
        <div class="form-group">
          <label for="memberId">Your Tag, e+, Smartcard or Member ID number:</label>
          <input type="text" class="form-control text-muted" id="memberId" pattern="^[.0-9]*$"/>
        </div>
        <div class="form-group">
          <label for="organisation">Select your organisation:</label>
          <select class="form-control text-muted" id="organisation" name="organisation">
            <option value="">Please select</option>
            <option value="/organisation/5">SWR Customers</option>
            <option value="/organisation/9">Bracknell Residents</option>
            <option value="/organisation/22">Bracknell Health</option>
            <option value="/organisation/4">BFC Staff</option>
          </select>
        </div>

        <div class="form-group">
          <label for="memberGroup">Select your group:</label>
          <select class="form-control text-muted" id="memberGroup" name="memberGroup">
          </select>

        </div>

        <button id="submit" type="button" class="btn btn-primary" disabled>Continue</button>

      </div>

      <div class="col-md-8 mt-4">
        <p>
          <a class="btn-primary btn" style="color: white;" href="/selfreport">Self Reporting</a>
          <a class="btn-primary btn" style="color: white;" href="/update-account">Update Account</a>
        </p>
      </div>
      {% include news.html %}

      {% include carousel.html %}
    </div>
  </div>
</div>
{% include bracknell-proud.html %}

{% include modal.html %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/script.js"></script>
<script src="{{ site.baseurl }}/assets/js/graphs.js"></script>
<script type="application/javascript">

  $(document).ready(() => {

    $("#submit").on("click", () => {
      const memberId = $("#memberId").val();
      const orgId = $("#organisation").val();

      if (orgId === "/organisation/5" && !memberId.startsWith("633597")) {
        alert("SWR cards start with 633597");
        return;
      }

      const createAccount = memberId.length >= 16;
      const data = createAccount ? {
        group: $("#memberGroup").val(),
        defaultTransportMode: "walk",
        defaultDistance: 3.1,
        smartcard: memberId
      } : {group: $("#memberGroup").val()};
      const url = createAccount ? "https://api.ecorewards.co.uk/member" : "https://api.ecorewards.co.uk/member/" + memberId;
      const type = createAccount ? "POST" : "PATCH";

      $.ajax({
        url, type, data,
        success: () => {
          window.location = "https://www.ecorewards.org.uk/secure/register.php?memberId=" + memberId;
        },
        error: () => {
          alert('Invalid member ID');
        }
      });
    });

    const schools = ["SWR Customers", "Bracknell Forest Health", "Bracknell Forest Council"];
    const url = 'https://api.ecorewards.co.uk/scheme/6/report';

    setupTables(schools, url);

    $.get(url, orgData => {
      setupGraphs(schools, orgData);

      const date = getDefaultDate();
      const residentsUrl = 'https://api.ecorewards.co.uk/organisation/9/report?from=' + date.toISOString().split('T')[0];

      $.get(residentsUrl, groupData => {
        setupGraphs(parishes, { data: getParishData(orgData, groupData)}, "parish_", createCumulativeGraph);
      });
    });
  });


const parishMap = {
  "Ascot Heath Primary": "Winkfield",
  "B and W College": "Bracknell Town",
  "Bracknell Forest Council": "",
  "Bracknell Forest Health": "",
  "Bracknell Forest Residents": "",
  "BF Trial": "",
  "Binfield": "Binfield",
  "Bracknell (Town)": "Bracknell Town",
  "Crowthorne": "Crowthorne",
  "Sandhurst": "Sandhurst",
  "Warfield": "Warfield",
  "Winkfield": "Winkfield",
  "Crown Wood Primary": "Bracknell Town",
  "Crowthorne Primary": "Crowthorne",
  "Easthampstead Park CS": "Bracknell Town",
  "Edgbarrow School": "Crowthorne",
  "Fox Hill Primary": "Bracknell Town",
  "Garth Hill College": "Bracknell Town",
  "Harmans Water Primary": "Bracknell Town",
  "Jennetts Park Primary": "Bracknell Town",
  "Kings Academy Primary": "Binfield",
  "Kings Academy Secondary": "Binfield",
  "Ranelagh School": "Bracknell Town",
  "Sandy Lane Primary": "Bracknell Town",
  "St Josephs Primary": "Bracknell Town",
  "St Michaels Primary": "Sandhurst",
  "SWR Customers": "",
  "Martins Heron": "Winkfield",
  "Bracknell Stn": "Bracknell Town",
  "The Pines Primary": "Bracknell Town",
  "Warfield Primary": "Warfield",
  "Winkfield St Marys Primary": "Winkfield",
  "Bright Horizon Nursery": "Bracknell Town",
  "Wildmoor Heath Primary": "Crowthorne",
};
// get unique values from parishMap
const parishes = ['Bracknell Town', 'Binfield', 'Crowthorne', 'Sandhurst', 'Warfield', 'Winkfield'];

function getParishData(orgData, groupsData) {

  const dataMappedToParish = orgData.data
    .concat(groupsData.data)
    .map(data => ({...data, name: parishMap[data.name]}));

  // split groups without Parish over the 6 parishes
  const rowsWithNoParishSplit = dataMappedToParish
    .filter(row => row.name === "")
    .flatMap(row => parishes.map(parish => ({
      totalDistance: Math.floor(row.totalDistance / parish.length),
      totalCarbonSaving: Math.floor(row.totalCarbonSaving / parish.length),
      totalRewardsEarned: Math.floor(row.totalRewardsEarned / parish.length),
      name: parish
    })));

  return dataMappedToParish
    .concat(rowsWithNoParishSplit)
    .filter(row => row.name)
    .toSorted((a, b) => parishes.indexOf(a.name) - parishes.indexOf(b.name));
}
</script>
