---
title: Eco Rewards - Rewarding Green Travel Choices
description: Earn reward points for making greener travel choices
layout: default
bracknell: true
---

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="row">
          <div class="col text-center">
            <h2 class="heading heading--md heading--color-1 mt-5">Bracknell Schools</h2>
            <p>Welcome to the home page for Bracknell Schools and their communities.</p>
            <p id="mobileApp"><a class="btn-primary btn" href="/mobile-app"><b>Download our mobile app to join</b></a></p>
            <p>
              <a href="https://play.google.com/store/apps/details?id=com.ecoreward" class="btn btn-primary">Go to Google Play</a>
              <a href="https://apps.apple.com/in/app/eco-rewards/id1634208068" class="btn btn-primary">Go to App Store</a>
            </p>
            <p>For Bracknell go to <a href="/bracknell">Bracknell Scheme</a>.</p>
            <p>For Bracknell Residents and Health membership go to <a href="/bracknell/active">Active</a>.</p>
            <p>Discover our <a href="#offers">local offers and Access Rewards (discounts and cash-back benefits)</a>.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="row">
          <div class="col text-center">
            <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="primary_chartToggle" value="#primary_rewardChart" autocomplete="off" checked> Points
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="primary_chartToggle" value="#primary_carbonSavingChart" autocomplete="off"> Carbon Saving
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="primary_chartToggle" value="#primary_milesChart" autocomplete="off"> Green Miles
              </label>
            </div>
          </div>
        </div>

        <div class="chart-container" style="position: relative; height:400px;">
          <canvas id="primary_rewardChart"></canvas>
          <canvas style="display: none" id="primary_carbonSavingChart"></canvas>
          <canvas style="display: none" id="primary_milesChart" ></canvas>
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="high_chartToggle" value="#high_rewardChart" autocomplete="off" checked> Points
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="high_chartToggle" value="#high_carbonSavingChart" autocomplete="off"> Carbon Saving
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="high_chartToggle" value="#high_milesChart" autocomplete="off"> Green Miles
              </label>
            </div>
          </div>
        </div>

        <div class="chart-container" style="position: relative; height:500px;">
          <canvas id="high_rewardChart"></canvas>
          <canvas style="display: none" id="high_carbonSavingChart"></canvas>
          <canvas style="display: none" id="high_milesChart"></canvas>
        </div>

        <div class="row mt-5">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Participating Schools and Colleges</th>
              <th class="text-right">Points</th>
              <th class="text-right">Carbon Saving</th>
              <th class="text-right">Green Miles</th>
            </tr>
            </thead>
            <tbody id="dataTable">

            </tbody>
          </table>
          <p class="tableStartDate">Totals for each school since 1st June 2021</p>
        </div>

        <div class="row justify-content-md-center text-center">
          <div class="col-md-8">
            <h2 id="register" class="heading heading--md heading--color-1 mt-5">Registration</h2>
          </div>
        </div>
        <div class="form-group">
          <label for="memberId">Member ID:</label>
          <input type="text" class="form-control text-muted" id="memberId" pattern="^[.0-9]*$"/>
        </div>

        <div class="form-group">
          <label for="organisation">Select your school:</label>
          <select class="form-control text-muted" id="organisation" name="organisation">
            <option value="">Please select</option>
            <option value="/organisation/2">Easthampstead Park CS</option>
            <option value="/organisation/3">Garth Hill College</option>
            <option value="/organisation/12">Warfield Primary</option>
            <option value="/organisation/15">Kings Academy Secondary</option>
            <option value="/organisation/16">Kings Academy Primary</option>
            <option value="/organisation/14">Harmans Water Primary</option>
            <option value="/organisation/13">St Michaels Primary</option>
            <option value="/organisation/19">Ranelagh School</option>
            <option value="/organisation/17">St Josephs Primary</option>
            <option value="/organisation/23">Crown Wood Primary</option>
            <option value="/organisation/29">The Pines Primary</option>
            <option value="/organisation/24">B and W College</option>
            <option value="/organisation/27">Jennett's Park Primary</option>
            <option value="/organisation/32">Sandy Lane Primary</option>
            <option value="/organisation/33">Bracknell College</option>
            <option value="/organisation/34">Wokingham College</option>
            <option value="/organisation/38">Winkfield St Marys Primary</option>
            <option value="/organisation/37">Bright Horizon Nursery</option>
            <option value="/organisation/36">Wildmoor Heath Primary</option>
<!--            <option value="/organisation/28">Fox Hill Primary</option>-->
<!--            <option value="/organisation/23">Crowthorne CofE</option>-->
          </select>
        </div>

        <div class="form-group">
          <label for="memberGroup">Select your group:</label>
          <select class="form-control text-muted" id="memberGroup" name="memberGroup">
          </select>
        </div>

        <button id="submit" type="button" class="btn btn-primary" disabled>Continue</button>

      </div>
      <div class="col-md-8 mt-4">
        <p>
          <a class="btn-primary btn" style="color: white;" href="/selfreport">Self Reporting</a>
          <a class="btn-primary btn" style="color: white;" href="/update-account">Update Account</a>
        </p>
      </div>
      {% include news.html %}

      {% include carousel.html %}
    </div>
  </div>

</div>

{% include modal.html %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/script.js"></script>
<script src="{{ site.baseurl }}/assets/js/graphs.js"></script>
<script type="application/javascript">

  $(document).ready(() => {

    $("#submit").on("click", () => {
      const memberId = $("#memberId").val();
      const data = {
        group: $("#memberGroup").val()
      };

      $.ajax({
        url: "https://api.ecorewards.co.uk/member/" + memberId,
        type: "PATCH",
        data: data,
        success: () => {
          window.location = "https://www.ecorewards.org.uk/secure/register.php?memberId=" + memberId
        },
        error: () => {
          alert('Invalid member ID');
        }
      });
    });

    const primary = ["The Pines Primary", "Jennetts Park Primary", "Fox Hill Primary", "Crowthorne Primary", "Warfield Primary", "St Michaels Primary", "Kings Academy Primary", "Harmans Water Primary", "St Josephs Primary", "Crown Wood Primary", "Ascot Heath Primary", "Sandy Lane Primary", "Winkfield St Marys Primary", "Bright Horizon Nursery", "Wildmoor Heath Primary", "Wooden Hill Primary", "Birch Hill Primary"]
    const high = ["Bracknell College", "Wokingham College", "B and W College", "Easthampstead Park CS", "Edgbarrow School", "Garth Hill College", "Kings Academy Secondary", "Ranelagh School"]
    const url = 'https://api.ecorewards.co.uk/scheme/6/report';
    $.get(url, response => {
      setupGraphs(primary, response, "primary_");

      setupGraphs(high, response, "high_");
    });

    setupTables(primary.concat(high).sort(), url);
  });

</script>
