---
title: Eco Rewards - Rewarding Green Travel Choices
description: Earn reward points for making greener travel choices
layout: default
anchorLinks: true
bracknell: true
redirect_to: ''
---

{% include bracknell-jumbotron.html %}
{% include mobile.html %}

<section id="news" class=" pb-5 bg-light">
  <div class="container">
    <div class="row justify-content-md-center text-center">
      <div class="col-md-8">
        <div class="card shadow-sm mt-3 text-left">
          <div class="card-link" onclick="window.open('{{ site.baseurl }}/bracknell/schools')">
            <div class="row card-body news-body">
              <div class="col-sm-3">
                <div class="post-image" style="background: url(/assets/image/orgs/schools.jpg) center no-repeat; background-size: 220px"></div>
              </div>
              <div class="col-sm-8 pt-3">
                <h4 class="invert-header m-0 p-0">
                  BRACKNELL SCHOOLS
                </h4>
                <p class="mt-3 mb-3 mr-4">
                  Members of participating schools follow <a href="{{ site.baseurl }}/bracknell/schools">this link</a>.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow-sm mt-3 text-left">
          <div class="card-link" onclick="window.open('{{ site.baseurl }}/bracknell/active')">
            <div class="row card-body news-body">
              <div class="col-sm-3">
                <div class="post-image" style="background: url(/assets/image/orgs/active.jpg) center no-repeat; background-size: 220px"></div>
              </div>
              <div class="col-sm-8 pt-3">
                <h4 class="invert-header m-0 p-0">
                  HEALTH/GP
                </h4>
                <p class="mt-3 mb-3 mr-4">
                  Referrals from GP/Public Health follow <a href="{{ site.baseurl }}/bracknell/active">this link</a>.
                </p>
              </div>
            </div>
          </div>
        </div>


        <div class="card shadow-sm mt-3 text-left">
          <div class="card-link" onclick="window.open('{{ site.baseurl }}/bracknell/active')">
            <div class="row card-body news-body">
              <div class="col-sm-3">
                <div class="post-image" style="background: url(/assets/image/post/green-travel-rewards-in-bracknell/reader.jpg) center no-repeat; background-size: 200px"></div>
              </div>
              <div class="col-sm-8 pt-3">
                <h4 class="invert-header m-0 p-0">
                  RESIDENTS
                </h4>
                <p class="mt-3 mb-3 mr-4">
                  With Smart Tag follow <a href="{{ site.baseurl }}/bracknell/active">this link</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow-sm mt-3 text-left">
          <div class="card-link" onclick="window.open('{{ site.baseurl }}/bracknell/active')">
            <div class="row card-body news-body">
              <div class="col-sm-3">
                <div class="post-image" style="background: url(/assets/image/tags.jpg) center no-repeat; background-size: 210px"></div>
              </div>
              <div class="col-sm-8 pt-3">
                <h4 class="invert-header m-0 p-0">
                  <span style="text-transform: lowercase">e+</span> OR SWR CARDHOLDER
                </h4>
                <p class="mt-3 mb-3 mr-4">
                  Follow <a href="{{ site.baseurl }}/bracknell/active">this link</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <p class="mt-3 mb-0">If you do not have a smartcard, smart tag or Member ID, <a href="/contact">contact us</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include news.html %}

{% include bracknell-motivation.html %}

{% include objectives.html %}

{% include benefits.html %}

<section id="how" class="pt-5 pb-5 bg-light">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8 text-center">
        <h2 class="heading heading--md heading--color-1 heading--reverse-clip mb-5">How does it work?</h2>
        <iframe class="youtube" src="https://www.youtube.com/embed/zGjYfDpU7iE" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

        <p class="my-3">
          Participants in the scheme register with our Mobile APP or online.  Green journey are recorded by scanning the
          QR signs or tapping a smart tags, rail smartcard or existing Bracknell e+ cards on the Eco Rewards blue
          readers. Follow this link for the Mobile APP and to register. Smart Tags are issued by schools and other
          participating organisations.
        </p>
        <p>
          Read about our <a href="/mobile-app">Mobile APP</a> or register on the <a href="/bracknell/active#register">Active page</a>.
        </p>
        <div class="text-center"><h4>Or</h4></div>
        <p class="my-3">
          Participants can also report their green journeys via the Aoo or an <a href="{{ site.baseurl }}/selfreport">online form</a>. We will calculate your CO2 savings and green miles. Over time,
          participants will see their carbon savings grow, both as an individual and as a
          member of the community.
        </p>
        <p>
          You will be entered into prize draws and are eligible to access retailer discounts and
          cashback. You can see your points, savings and access to benefits by completing logging on to your account.
        </p>
        <p class="lead font-weight-bold">Discover our local offers and access discounts & cash-back  <a href="https://www.ecorewards.org.uk">www.ecorewards.org.uk</a>.</p>
      </div>
    </div>
  </div>
</section>

{% include participate.html %}

{% include bracknell-proud.html %}
